/*overall setting*/
*{
    background-color:black;
    box-sizing: border-box;
    color:seashell;
    opacity:0.9;
}

/*sizing*/

.container {
    margin: 0 auto;
   
}

/*text style*/
h1,h2,h3,h4,h5,h6,p,figcaption,li,a {
    font-family:Helvetica, sans-serif;
    font-weight:bold;
}

/*header section*/

.header {
    float: right;
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.logo img {
    max-height:50px;
    margin-bottom:20px;
}

.header a{
    margin: 30px;
}

/*main section*/

main .container{
    
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");   
    height:700px;
    max-width:1200px;
    margin:0 auto;
    display: flex;
    flex-flow: column;
    flex: 1 1200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

main h2,h4 {
    text-align: center;
    width: 100%;
    padding: 1%;
    margin:0 auto;
}

.featured-tea {
    margin-top: 30px;
    vertical-align:center;
}
.featured-tea-pic {
    width:100%;
    max-width:1200px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items: center;
    align-content:center;
    flex: 1 1200px;
}

main img {
    max-height:200px;
    max-width:300px;
    display:flex;
    opacity:0.9;
    
   
}

figcaption {
    margin-top:10px;
    text-align: center;
}


.locations {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content:center;
    align-items:center;
    max-width:1200px;
    height:500px;
    background-position: center;
    text-align:center;
    flex: 1 1200px;
}

.location-title{
    margin:30px;
    width:auto;
    background-color:transparent;
}


.addresses {
    margin: 0 auto;
    width:100%;
    display: flex;
    justify-content:space-around;
    align-items:center;
    height:30px;
    background-color:transparent;
    flex-wrap:wrap;
    opacity:1;
    vertical-align:middle;
}

.Downtown, .East-bayside, .Oakdale {
    width:300px;
    text-align: center;
}

.addresses li {

    padding: 30px;
    display:flex;
    flex-basis:300px; 
    list-style:none;
    text-align:center;
    line-height: 20px;
}



.addresses h3{
    text-align: center;
    background-color:transparent;
}

/*footer area*/

.contact h3 {
    margin-bottom: 50px;
    text-align:center;
}

.contact h5, .contact p {
    text-align:center;
}

.contact {
    height:200px;
}